/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background: #FFFEF8;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

:root {
	--main-color : #1D6154;
	--second-color: #0E2F28;
	--textBtn-color: white;
	--font-title: 'Syne'
}

a {
	text-decoration: none;
	color: black;
}
/************** Section Modale  ****************/
.admin {
	background: #000;
	color: white;
	padding: 20px;
	text-align: center;
	margin: 0;
	display: none;
}
.modaleBtnModifier {
	position: absolute;
	top: 0;
	left: calc(50% + 150px);
	transform: translate( -50%, -50% );
	display: none;
}
.modale {
	position: fixed;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	display: none;
}
.modale__wrapper-1, .modale__wrapper-2 {
	position: relative;
	width: 400px;
	height: 500px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 200px);
	padding: 20px 80px;
	background-color: white;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.modale__wrapper-1 {
	display: none;
}
#titlemodale {
	font-size: 28px;
	margin: 30px 0;
}
#works {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	height: 380px;
	border-bottom: 2px solid #B3B3B3;
	margin: 20px auto;
	padding-bottom: 20px;
}
#works figure {
	position: relative;
	margin: 10px;
}
#works img {
	width: 100%;
}

.supprimerWorks {
	position: absolute;
	color: white;
	background: #000;
	border-radius: 5px;
	padding: 10px;
	top: 10%;
	right: 10%;
}
#ajoutPhotoBtn {
	font-size: 18px;
	padding: 10px 20px;
	border-radius: 25px;
	border: 2px solid var(--main-color);
	margin: 0 10px 20px 0;
}
.ajoutWorks-form, .ajoutPhoto {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.ajoutWorks-form {
	width: 100%;
	justify-content: center;
}
.ajoutPhoto {
	position: relative;
	background: #E8F1F6;
	width: 100%;
	height: 180px;
	justify-content: space-around;
	margin: 15px auto;
	border-radius: 4px;
}

.ajoutPhoto p {
	position: absolute;
	left: 50%;
	bottom: 8px;
	transform: translate( -50%, -50%);
	font-size: 10px;
}
.ajoutWorks-form--title, input[type="text"], .ajoutWorks-form--categorie, select {
	width: 100%;
	margin: 10px auto 0 auto;
}
input[type="text"], select {
	height: 35px;
	background: #FFF;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	border: none;
	outline: none;
}
input[type="text"] {
	padding: 0 15px;
	max-width: calc( 100% - 30px);
}
input[type="submit"] {
	padding: 10px 20px;
	border: none;
}

select {
	padding: 0 45px;
}
input[type="file"] {
	display: none;
}
label[for=ajoutPhotoFile] {
	background: #CBD6DC;
	font-size: 18px;
	padding: 10px 20px;
	border-radius: 25px;
	margin: 0 10px 20px 0;
	color: #306685;
	cursor: pointer;
}
.fa-xmark {
	position: absolute;
	font-size: 30px;
	top: 40px;
	right: 40px;
	cursor: pointer;
}
/************** SECTION Header *************$*/
header {
	padding: 10px 40px;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

.logIn {
	font-weight: bold;
}

/* Section introduction */
#introduction {
	display: flex;
	align-items: center;
	padding: 0 40px;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
/************* Section des Images projet ***********/
#portfolio {
	padding: 20px 40px;
	position: relative;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
}

.filtreBtn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 15px auto;
}

.filtreBtn button {
	padding: 10px 20px;
	border-radius: 25px;
	border: 2px solid var(--main-color);
	margin: 20px 10px 20px 0;
}

.btn_selected, #ajoutPhotoBtn {
	background: var(--main-color);
	color: var(--textBtn-color);
}

.btn_unselected {
	background: transparent;
	color: var(--main-color);
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}


/************** Section Contact ************/
#contact, #login {
	width: 50%;
	margin: auto;
}
#contact > *, #login > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}

#login h2 {
	margin: 90px auto 20px auto;
}
.mdpIncorrect {
	font-size: 16px;
	color: red;
	margin-bottom: -20px;
}

#contact form, #login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, #login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding-left: 20px;
}
#contact label, #login label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

form a {
	text-decoration: underline;
	text-align: center;
}

.headshake {
	animation: headshake 0.15s 3 both ;
	background: red;
	color: white;
}

@keyframes headshake {
	from {
		transform: translateX(-4px);
	}
	to {
		transform: translateX(4px);
	}
}

/* Section footer */
footer {
	background: white;
	margin: 40px 0 0 0;
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
	padding: 20px;
}

/* Reponsive mobile */
@media screen and (max-width: 768px) {
	/* Section Header */
	header {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	h1, ul {
		align-items: center;
		justify-content: center;
	}
	h1 {
		font-size: 28px;
		white-space: nowrap;
	}
	h1 span {
		font-size: 15px;
	}
	ul {
		margin: 25px auto;
	}
	li img {
		width: 25px;
	}
	/* Section introduction */
	#introduction {
		flex-direction: column;
	}
	#introduction article {
		margin: 25px auto;
		text-align: center;
	}
	article p {
		text-align: justify;
	}
	/* Section portfolio */
	.filtreBtn {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.filtreBtn button {
		margin: 10px 5px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}