////////// Section login ///////////
#login {
	width: 50%;
	margin: auto;
}
#login > * {
	text-align: center;
}

#login h2 {
	margin: 90px auto 20px auto;
}
.mdpIncorrect {
	font-size: 16px;
	color: red;
	margin-bottom: -20px;
}

#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding-left: 20px;
}
#login label {
	margin: 2em 0 1em 0;
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

form a {
	text-decoration: underline;
	text-align: center;
}

.headshake {
	animation: headshake 0.15s 3 both ;
	background: red;
	color: white;
}

